## Pacotes utilizados:

In [257]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [258]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Leitura das bases:

In [259]:
dicionario = pd.read_csv('dicionario_dados.csv', sep=";")
base_cadastral = pd.read_parquet('base_cadastral.parquet')
base_submissao = pd.read_parquet('base_submissao.parquet')
hist_emprestimos = pd.read_parquet('historico_emprestimos.parquet')
hist_parcelas = pd.read_parquet('historico_parcelas.parquet')

## Entendimento dos dados

### base cadastral

In [260]:
hist_emprestimos.head()

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
0,2802425,108129,Cash loans,Approved,2024-08-29,None,2024-09-28,2027-08-14,None,None,...,XNA,Contact center,-1,THURSDAY,11,Y,1,XAP,Unaccompanied,1.00
1,2330894,258628,Cash loans,Approved,2022-10-11,None,2022-11-10,2024-09-30,2024-08-01,2024-08-04,...,XNA,Credit and cash offices,-1,TUESDAY,15,Y,1,XAP,Unaccompanied,1.00
2,1182516,267782,Cash loans,Approved,2023-04-08,None,2023-05-08,2025-09-24,None,None,...,XNA,Credit and cash offices,-1,SATURDAY,4,Y,1,XAP,None,1.00
3,1543131,275707,Cash loans,Approved,2024-02-08,None,2024-03-09,2025-02-02,2025-02-02,2025-02-09,...,XNA,Credit and cash offices,-1,THURSDAY,8,Y,1,XAP,Unaccompanied,1.00
4,2261993,299391,Revolving loans,Canceled,2024-09-06,None,None,None,None,None,...,XNA,Credit and cash offices,-1,FRIDAY,13,Y,1,XAP,None,NaN

In [261]:
%%capture
hist_emprestimos.info()

In [262]:
hist_emprestimos.describe(include='all').fillna('-')

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
count,186890.00,186890.00,186890,186890,186890,7100,107145,101143,87778,86087,...,186890,186890,186890.00,186890,186890.00,186890,186890.00,186890,94786,111691.00
unique,-,-,4,4,2940,2112,2906,4471,2828,2463,...,11,8,-,7,-,2,-,9,7,-
top,-,-,Cash loans,Approved,2024-06-26,2024-07-06,2024-03-22,2025-02-20,2024-04-18,2024-09-01,...,XNA,Credit and cash offices,-,TUESDAY,-,Y,-,XAP,Unaccompanied,-
freq,-,-,83546,116182,301,19,118,96,90,425,...,95776,80376,-,28459,-,185979,-,151948,56618,-
mean,1925411.15,278440.00,-,-,-,-,-,-,-,-,...,-,-,304.10,-,12.47,-,1.00,-,-,0.33
std,532202.08,102686.99,-,-,-,-,-,-,-,-,...,-,-,1600.38,-,3.33,-,0.06,-,-,0.47
min,1000003.00,100023.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,0.00,-,0.00,-,-,0.00
25%,1465414.25,189807.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,10.00,-,1.00,-,-,0.00
50%,1925815.00,278614.50,-,-,-,-,-,-,-,-,...,-,-,3.00,-,12.00,-,1.00,-,-,0.00
75%,2385854.00,367186.00,-,-,-,-,-,-,-,-,...,-,-,84.00,-,15.00,-,1.00,-,-,1.00
max,2845362.00,456248.00,-,-,-,-,-,-,-,-,...,-,-,120000.00,-,23.00,-,1.00,-,-,1.00

In [263]:
round((base_cadastral.isnull().sum()/len(base_cadastral)) * 100, 2).map(lambda x: f"{x}%")

id_cliente                      0.0%
sexo                            0.0%
data_nascimento                 0.0%
qtd_filhos                      0.0%
qtd_membros_familia             0.0%
renda_anual                     0.0%
tipo_renda                      0.0%
ocupacao                      31.69%
tipo_organizacao                0.0%
nivel_educacao                  0.0%
estado_civil                    0.0%
tipo_moradia                    0.0%
possui_carro                    0.0%
possui_imovel                   0.0%
nota_regiao_cliente             0.0%
nota_regiao_cliente_cidade      0.0%
dtype: object

### historico emprestimos

In [264]:
hist_emprestimos.head()

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
0,2802425,108129,Cash loans,Approved,2024-08-29,None,2024-09-28,2027-08-14,None,None,...,XNA,Contact center,-1,THURSDAY,11,Y,1,XAP,Unaccompanied,1.00
1,2330894,258628,Cash loans,Approved,2022-10-11,None,2022-11-10,2024-09-30,2024-08-01,2024-08-04,...,XNA,Credit and cash offices,-1,TUESDAY,15,Y,1,XAP,Unaccompanied,1.00
2,1182516,267782,Cash loans,Approved,2023-04-08,None,2023-05-08,2025-09-24,None,None,...,XNA,Credit and cash offices,-1,SATURDAY,4,Y,1,XAP,None,1.00
3,1543131,275707,Cash loans,Approved,2024-02-08,None,2024-03-09,2025-02-02,2025-02-02,2025-02-09,...,XNA,Credit and cash offices,-1,THURSDAY,8,Y,1,XAP,Unaccompanied,1.00
4,2261993,299391,Revolving loans,Canceled,2024-09-06,None,None,None,None,None,...,XNA,Credit and cash offices,-1,FRIDAY,13,Y,1,XAP,None,NaN

In [265]:

hist_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186890 entries, 0 to 186889
Data columns (total 37 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_contrato                       186890 non-null  int64
 1   id_cliente                        186890 non-null  int64
 2   tipo_contrato                     186890 non-null  object
 3   status_contrato                   186890 non-null  object
 4   data_decisao                      186890 non-null  object
 5   data_liberacao                    7100 non-null    object
 6   data_primeiro_vencimento          107145 non-null  object
 7   data_ultimo_vencimento_original   101143 non-null  object
 8   data_ultimo_vencimento            87778 non-null   object
 9   data_encerramento                 86087 non-null   object
 10  valor_solicitado                  186890 non-null  float64
 11  valor_credito                     186890 non-null  float64
 12  valor_bem                         143453 non-null  float64
 13  valor_parcela                     145126 non-null  float64
 14  valor_entrada                     86722 non-null   float64
 15  percentual_entrada                86722 non-null   float64
 16  qtd_parcelas_planejadas           145127 non-null  float64
 17  taxa_juros_padrao                 628 non-null     float64
 18  taxa_juros_promocional            628 non-null     float64
 19  tipo_pagamento                    186890 non-null  object
 20  finalidade_emprestimo             186890 non-null  object
 21  tipo_cliente                      186890 non-null  object
 22  faixa_rendimento                  186890 non-null  object
 23  tipo_portfolio                    186890 non-null  object
 24  tipo_produto                      186890 non-null  object
 25  categoria_bem                     186890 non-null  object
 26  combinacao_produto                186858 non-null  object
 27  setor_vendedor                    186890 non-null  object
 28  canal_venda                       186890 non-null  object
 29  area_venda                        186890 non-null  int64
 30  dia_semana_solicitacao            186890 non-null  object
 31  hora_solicitacao                  186890 non-null  int64
 32  flag_ultima_solicitacao_contrato  186890 non-null  object
 33  flag_ultima_solicitacao_dia       186890 non-null  int64
 34  motivo_recusa                     186890 non-null  object
 35  acompanhantes_cliente             94786 non-null   object
 36  flag_seguro_contratado            111691 non-null  float64
dtypes: float64(10), int64(5), object(22)
memory usage: 52.8+ MB

In [266]:
hist_emprestimos.describe(include='all').fillna('-')

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
count,186890.00,186890.00,186890,186890,186890,7100,107145,101143,87778,86087,...,186890,186890,186890.00,186890,186890.00,186890,186890.00,186890,94786,111691.00
unique,-,-,4,4,2940,2112,2906,4471,2828,2463,...,11,8,-,7,-,2,-,9,7,-
top,-,-,Cash loans,Approved,2024-06-26,2024-07-06,2024-03-22,2025-02-20,2024-04-18,2024-09-01,...,XNA,Credit and cash offices,-,TUESDAY,-,Y,-,XAP,Unaccompanied,-
freq,-,-,83546,116182,301,19,118,96,90,425,...,95776,80376,-,28459,-,185979,-,151948,56618,-
mean,1925411.15,278440.00,-,-,-,-,-,-,-,-,...,-,-,304.10,-,12.47,-,1.00,-,-,0.33
std,532202.08,102686.99,-,-,-,-,-,-,-,-,...,-,-,1600.38,-,3.33,-,0.06,-,-,0.47
min,1000003.00,100023.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,0.00,-,0.00,-,-,0.00
25%,1465414.25,189807.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,10.00,-,1.00,-,-,0.00
50%,1925815.00,278614.50,-,-,-,-,-,-,-,-,...,-,-,3.00,-,12.00,-,1.00,-,-,0.00
75%,2385854.00,367186.00,-,-,-,-,-,-,-,-,...,-,-,84.00,-,15.00,-,1.00,-,-,1.00
max,2845362.00,456248.00,-,-,-,-,-,-,-,-,...,-,-,120000.00,-,23.00,-,1.00,-,-,1.00

In [267]:
round((hist_emprestimos.isnull().sum()/len(hist_emprestimos)) * 100, 2).map(lambda x: f"{x}%")

id_contrato                           0.0%
id_cliente                            0.0%
tipo_contrato                         0.0%
status_contrato                       0.0%
data_decisao                          0.0%
data_liberacao                       96.2%
data_primeiro_vencimento            42.67%
data_ultimo_vencimento_original     45.88%
data_ultimo_vencimento              53.03%
data_encerramento                   53.94%
valor_solicitado                      0.0%
valor_credito                         0.0%
valor_bem                           23.24%
valor_parcela                       22.35%
valor_entrada                        53.6%
percentual_entrada                   53.6%
qtd_parcelas_planejadas             22.35%
taxa_juros_padrao                   99.66%
taxa_juros_promocional              99.66%
tipo_pagamento                        0.0%
finalidade_emprestimo                 0.0%
tipo_cliente                          0.0%
faixa_rendimento                      0.0%
tipo_portfolio                        0.0%
tipo_produto                          0.0%
categoria_bem                         0.0%
combinacao_produto                   0.02%
setor_vendedor                        0.0%
canal_venda                           0.0%
area_venda                            0.0%
dia_semana_solicitacao                0.0%
hora_solicitacao                      0.0%
flag_ultima_solicitacao_contrato      0.0%
flag_ultima_solicitacao_dia           0.0%
motivo_recusa                         0.0%
acompanhantes_cliente               49.28%
flag_seguro_contratado              40.24%
dtype: object

*Valores nulos:* <ab>

Data liberação: Sugere muitas propostas que foram aprovadas ou recusadas, mas não foram convertidas. <ab>

Datas de vencimento: Só existem essas datas para contratos que foram formalizados. Porém como há menos nulos que "data_liberacao", pode ser que o sistema gere um cronograma previsto antes de finalizar o contrato. <ab>

Data encerramento: Representam a carteira ativa, ou seja, cliente que estão pagando suas parcelas, assim não possuindo data de encerramento registrada. <ab>

Entradas: Contratos realizados com 100% de financiamento. <ab>

Taxa de juros: Sugere que são dados sensíveis.

### histórico parcelas

In [268]:
hist_parcelas.head()

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
0,1594684,100193,0.00,56,2021-12-21,2021-12-21,301.86,301.86
1,1995642,134723,1.00,38,2021-08-09,2021-08-04,12949.20,12949.20
2,1720935,176364,1.00,9,2024-03-06,2024-03-04,61192.53,61192.53
3,1439208,154898,1.00,20,2024-08-11,2024-08-07,8851.23,8851.23
4,1640082,172575,1.00,4,2022-11-15,2022-11-10,8720.28,8720.28

In [269]:
%%capture
hist_parcelas.info()

In [270]:
hist_parcelas.describe(include='all').fillna('-')

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
count,1390978.00,1390978.00,1390978.00,1390978.00,1390978,1390639,1390978.00,1390639.00
unique,-,-,-,-,2910,2923,-,-
top,-,-,-,-,2024-07-22,2024-10-21,-,-
freq,-,-,-,-,1250,1593,-,-
mean,1908259.12,278845.69,0.93,14.92,-,-,18145.87,18353.37
std,535193.18,102181.63,1.06,20.90,-,-,52183.44,56500.72
min,1000003.00,100023.00,0.00,1.00,-,-,0.00,0.00
25%,1437671.00,191166.00,1.00,4.00,-,-,4677.16,4106.93
50%,1902062.00,279270.00,1.00,8.00,-,-,9300.58,8980.25
75%,2371329.00,367159.00,1.00,15.00,-,-,17902.58,17246.92
max,2843493.00,456248.00,52.00,194.00,-,-,2784334.14,2784334.14

In [271]:
round((hist_parcelas.isnull().sum()/len(hist_parcelas)) * 100, 2).map(lambda x: f"{x}%")

id_contrato                 0.0%
id_cliente                  0.0%
versao_parcela              0.0%
numero_parcela              0.0%
data_prevista_pagamento     0.0%
data_real_pagamento        0.02%
valor_previsto_parcela      0.0%
valor_pago_parcela         0.02%
dtype: object

### base submissão

In [272]:
base_submissao.head()

,id_cliente,data_solicitacao,dia_semana_solicitacao,hora_solicitacao,tipo_contrato,valor_credito,valor_bem,valor_parcela
0,100023,2025-02-24,MONDAY,12,Cash loans,544491.00,454500.00,17563.50
1,100031,2025-02-17,MONDAY,9,Cash loans,979992.00,702000.00,27076.50
2,100056,2025-02-20,THURSDAY,10,Cash loans,1506816.00,1350000.00,49927.50
3,100069,2025-02-10,MONDAY,11,Cash loans,640458.00,517500.00,27265.50
4,100085,2025-02-19,WEDNESDAY,12,Cash loans,755190.00,675000.00,28894.50

In [273]:
%%capture
base_submissao.info()

In [274]:
base_submissao.describe(include='all').fillna('-')

,id_cliente,data_solicitacao,dia_semana_solicitacao,hora_solicitacao,tipo_contrato,valor_credito,valor_bem,valor_parcela
count,40000.00,40000,40000,40000.00,40000,40000.00,39976.00,39996.00
unique,-,21,7,-,2,-,-,-
top,-,2025-02-11,TUESDAY,-,Cash loans,-,-,-
freq,-,2448,7231,-,36599,-,-,-
mean,278414.66,-,-,12.03,-,586259.67,526968.20,27376.03
std,102575.20,-,-,3.27,-,395313.88,363020.87,14750.17
min,100023.00,-,-,0.00,-,45000.00,40500.00,2295.00
25%,190486.25,-,-,10.00,-,270000.00,238500.00,16681.50
50%,277796.50,-,-,12.00,-,502497.00,450000.00,25060.50
75%,367312.25,-,-,14.00,-,791861.62,675000.00,34781.62
max,456248.00,-,-,23.00,-,4050000.00,4050000.00,225000.00

In [275]:
round((base_submissao.isnull().sum()/len(base_submissao)) * 100, 2).map(lambda x: f"{x}%")

id_cliente                 0.0%
data_solicitacao           0.0%
dia_semana_solicitacao     0.0%
hora_solicitacao           0.0%
tipo_contrato              0.0%
valor_credito              0.0%
valor_bem                 0.06%
valor_parcela             0.01%
dtype: object

## Preparação dos dados

### base cadastral

In [276]:
# Criando variável: Idade
base_cadastral['idade'] = (pd.to_datetime('today') - pd.to_datetime(base_cadastral['data_nascimento'])).dt.days // 365
base_cadastral.drop("data_nascimento", axis = 1, inplace=True)

In [277]:
# Tratando N/A
base_cadastral['ocupacao'] = base_cadastral['ocupacao'].fillna('N/A')

In [278]:
# Calculos
base_cadastral['proporcao_filhos_familia'] = (base_cadastral['qtd_filhos'] / base_cadastral['qtd_membros_familia']).replace([np.inf, np.nan], 0)
base_cadastral['log_renda_anual'] = np.log1p(base_cadastral['renda_anual'])

In [279]:
# Flags
base_cadastral['possui_carro'] = (base_cadastral['possui_carro'] == 'Y').astype(int)
base_cadastral['possui_imovel'] = (base_cadastral['possui_imovel'] == 'Y').astype(int)
base_cadastral['tem_filhos'] = (base_cadastral['qtd_filhos'] > 0).astype(int)

In [280]:
# Agrupamento de categorias com baixa ocorrência
cat_cols =  ['ocupacao','tipo_renda']

for col in cat_cols:
    freq = base_cadastral[col].value_counts(normalize=True)
    rare = freq[freq < 0.01].index
    base_cadastral[col] = base_cadastral[col].replace(rare, 'Outros')

In [281]:
# Ajustando categorias com baixa ocorrência para classe já existente
freq_organizacao = base_cadastral['tipo_organizacao'].value_counts(normalize=True)
rare_organizaca = freq_organizacao[freq_organizacao < 0.01].index

base_cadastral['tipo_organizacao'] = base_cadastral['tipo_organizacao'].replace(rare_organizaca, 'Other')

In [282]:
# Diminuindo dimensionalidade das categorias
base_cadastral['tipo_moradia'] = base_cadastral['tipo_moradia'].replace({'Office apartment': 'Outros', 'Co-op apartment': 'Outros'})

### historico emprestimos

In [283]:
# Tratando as variáveis de data
date_cols = ['data_liberacao', 'data_primeiro_vencimento',
    'data_ultimo_vencimento_original', 'data_ultimo_vencimento',
    'data_encerramento']

for col in date_cols:
    hist_emprestimos[col] = pd.to_datetime(hist_emprestimos[col], errors='coerce')

In [284]:
# criando flags de missing 
num_cols = ['valor_bem','valor_parcela','valor_entrada',
    'percentual_entrada','qtd_parcelas_planejadas',
    'taxa_juros_padrao','taxa_juros_promocional']

for col in num_cols:
    hist_emprestimos[f'{col}_missing'] = hist_emprestimos[col].isna().astype(int)

# Inputando 0 nas variáveis númericas
hist_emprestimos[num_cols] = hist_emprestimos[num_cols].fillna(0)

In [285]:
# Tratando N/A
hist_emprestimos['combinacao_produto'] = (hist_emprestimos['combinacao_produto'].fillna('N/A'))
hist_emprestimos['acompanhantes_cliente'] = (hist_emprestimos['acompanhantes_cliente'].fillna('N/A'))

In [286]:
# Flags
hist_emprestimos['flag_cronograma_definido'] = (hist_emprestimos['data_primeiro_vencimento'].notna().astype(int))

hist_emprestimos['flag_liberado'] = hist_emprestimos['data_liberacao'].notna().astype(int)

hist_emprestimos['flag_seguro_info_disponivel'] = (hist_emprestimos['flag_seguro_contratado'].notna().astype(int))

hist_emprestimos['flag_seguro_contratado'] = (hist_emprestimos['flag_seguro_contratado'].fillna(0).astype(int))

In [287]:
# Cálculos
hist_emprestimos['duracao_contrato_dias'] = (hist_emprestimos['data_ultimo_vencimento_original'] - hist_emprestimos['data_primeiro_vencimento']).dt.days
hist_emprestimos['duracao_contrato_dias'] = (hist_emprestimos['duracao_contrato_dias'].fillna(0))

hist_emprestimos['tempo_decisao_liberacao'] = (hist_emprestimos['data_liberacao'] - pd.to_datetime(hist_emprestimos['data_decisao'])).dt.days
hist_emprestimos['tempo_decisao_liberacao'] = (hist_emprestimos['tempo_decisao_liberacao'].fillna(0))

hist_emprestimos['pct_valor_entrada'] = (hist_emprestimos['valor_entrada'] / hist_emprestimos['valor_credito']).replace([np.inf, np.nan], 0)

hist_emprestimos['parcela_credito_ratio'] = (hist_emprestimos['valor_parcela'] / hist_emprestimos['valor_credito']).replace([np.inf, np.nan], 0)

hist_emprestimos['log_valor_credito'] = np.log1p(hist_emprestimos['valor_credito'])

In [288]:
# Feature data
hist_emprestimos['hora_solicitacao_bin'] = pd.cut(
    hist_emprestimos['hora_solicitacao'],
    bins=[0,6,12,18,24],
    labels=['madrugada','manha','tarde','noite'],
    right=False
)

In [289]:
# Agrupamento de categorias com baixa ocorrência
cat_cols = ['categoria_bem','finalidade_emprestimo','canal_venda','area_venda', 'setor_vendedor']

for col in cat_cols:
    freq = hist_emprestimos[col].value_counts(normalize=True)
    rare = freq[freq < 0.01].index
    hist_emprestimos[col] = hist_emprestimos[col].replace(rare, 'Outros')

In [290]:
# Diminuindo dimensionalidade das categorias
hist_emprestimos['acompanhantes_cliente'] = (hist_emprestimos['acompanhantes_cliente'].replace({'Other_A': 'Outros', 'Other_B': 'Outros', 'Group of people' : 'Outros'}))

def agrupa_combinacao(x):
    if 'Cash' in x:
        return 'Cash'
    elif 'POS' in x:
        return 'POS'
    elif 'Card' in x:
        return 'Card'
    else:
        return "Outros"
    
hist_emprestimos['combinacao_produto'] = hist_emprestimos['combinacao_produto'].fillna("N/A").apply(agrupa_combinacao)

Variáveis que são data leakage:

Direto:
* status_contrato
* motivo_recusa
* data_encerramento

Temporal:
* data_ultimo_vencimento
* data_ultimo_vencimento_original

### historico parcelas

In [291]:
# Converte datas
date_cols = ['data_prevista_pagamento','data_real_pagamento']

for col in date_cols:
    hist_parcelas[col] = pd.to_datetime(hist_parcelas[col])


# Ajuste da data de pagamento para casos não pagos
data_corte = hist_parcelas['data_prevista_pagamento'].max()
hist_parcelas['data_pagamento_ajustada'] = hist_parcelas['data_real_pagamento'].fillna(data_corte)

# Calcular atraso em dias (pagamento antecipado = 0)
hist_parcelas['atraso_dias'] = (hist_parcelas['data_pagamento_ajustada'] - hist_parcelas['data_prevista_pagamento']).dt.days.clip(lower=0)

In [292]:
# Flags
hist_parcelas['flag_atraso'] = (hist_parcelas['atraso_dias'] > 0).astype(int)

hist_parcelas['atraso_30'] = (hist_parcelas['atraso_dias'] >= 30).astype(int)

hist_parcelas['atraso_60'] = (hist_parcelas['atraso_dias'] >= 60).astype(int)

hist_parcelas['pagamento_parcial'] = (hist_parcelas['valor_pago_parcela'] < hist_parcelas['valor_previsto_parcela']).astype(int)

In [293]:
# Percentual pago
hist_parcelas['pct_pago'] = (hist_parcelas['valor_pago_parcela'] / hist_parcelas['valor_previsto_parcela']).fillna(0)

In [294]:
# Restringindo base à minha variável target (6 primeiros meses - MOB06)
hist_parcelas_6m = hist_parcelas[hist_parcelas['numero_parcela'] <= 6].copy()

As variáveis derivadas do histórico de parcelas consideram apenas informações disponíveis até o sexto mês do contrato, garantindo alinhamento temporal com a definição da variável target e evitando vazamento de informação.

In [295]:
# Agregação por contrato
agg_parcelas = hist_parcelas_6m.groupby('id_contrato') \
    .agg(
        qtd_parcelas_6m = ('numero_parcela', 'count'),
        atraso_medio = ('atraso_dias', 'mean'),
        atraso_max = ('atraso_dias', 'max'),
        qtd_parcelas_atraso = ('flag_atraso', 'sum'),
        qtd_atraso_30 = ('atraso_30', 'sum'),
        qtd_atraso_60 = ('atraso_60', 'sum'),
        pct_pago_medio = ('pct_pago', 'mean'),
        qtd_pagamento_parcial = ('pagamento_parcial', 'sum')
).reset_index()

Como a variável alvo é definida no nível de contrato, o histórico de parcelas foi agregado por id_contrato, preservando a granularidade correta para modelagem.

### Variável target

#### Avaliação de definições de inadimplência

In [296]:
# Primeiras 3 parcelas
parcelas_mob03 = hist_parcelas[
    hist_parcelas['numero_parcela'] <= 3
].copy()

# Flag atraso
parcelas_mob03['flag_atraso_30'] = (
    parcelas_mob03['atraso_dias'] > 30
).astype(int)

# Agregando por contrato
target_ever30 = (
    parcelas_mob03
    .groupby('id_contrato', as_index=False)
    .agg(ever30mob03=('flag_atraso_30', 'max'))
                )

print(f"Distribuição: \n{target_ever30['ever30mob03'].value_counts(normalize=True).map(lambda x: f"{x:.4%}")}")

Distribuição:
ever30mob03
0    99.7598%
1     0.2402%
Name: proportion, dtype: object

A definição EVER30MOB03 foi testada, porém descartada devido à baixa incidência de eventos.

#### Definição da variável target final

In [297]:
# Soma atraso acumulado por contrato
target_over60 = (
    hist_parcelas_6m
    .groupby('id_contrato', as_index=False)
    .agg(atraso_total_mob06=('atraso_dias', 'sum'))
)

# Flag de inadimplência
target_over60['over60mob06'] = (target_over60['atraso_total_mob06'] > 60).astype(int)

# Distribuição
print(f"Distribuição target: \n{target_over60['over60mob06'].value_counts(normalize=True).map(lambda x: f"{x:.4%}")}")

Distribuição target:
over60mob06
0    98.8736%
1     1.1264%
Name: proportion, dtype: object

A variável target adotada foi a OVER60MOB06, que identifica contratos com mais de 60 dias acumulados de atraso nos seis primeiros meses.

A incidência observada foi de 1,13%, indicando um cenário de eventos raros, consistente com o perfil conservador do produto.

Diante disso, o problema foi tratado como classificação de eventos raros, priorizando a capacidade do modelo de ranquear corretamente contratos de maior risco.