## Pacotes utilizados:

In [124]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [82]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Leitura das bases:

In [83]:
dicionario = pd.read_csv('dicionario_dados.csv', sep=";")
base_cadastral = pd.read_parquet('hist_emprestimos.parquet')
base_submissao = pd.read_parquet('base_submissao.parquet')
hist_emprestimos = pd.read_parquet('historico_emprestimos.parquet')
hist_parcelas = pd.read_parquet('historico_parcelas.parquet')

## Entendimento dos dados

### base cadastral

In [84]:
hist_emprestimos.head()

,id_cliente,sexo,data_nascimento,qtd_filhos,qtd_membros_familia,renda_anual,tipo_renda,ocupacao,tipo_organizacao,nivel_educacao,estado_civil,tipo_moradia,possui_carro,possui_imovel,nota_regiao_cliente,nota_regiao_cliente_cidade
0,100023,F,1994-01-30,1,2.00,90000.00,State servant,Core staff,Kindergarten,Higher education,Single / not married,House / apartment,N,Y,2,2
1,100031,F,1973-11-13,0,1.00,112500.00,Working,Cooking staff,Business Entity Type 3,Secondary / secondary special,Widow,House / apartment,N,Y,3,2
2,100056,M,1975-02-19,0,2.00,360000.00,Working,Laborers,Transport: type 2,Secondary / secondary special,Married,House / apartment,Y,Y,2,2
3,100069,M,1986-04-10,1,2.00,360000.00,Working,Laborers,Transport: type 4,Secondary / secondary special,Separated,House / apartment,Y,Y,2,2
4,100085,M,1994-07-05,1,3.00,157500.00,Working,Drivers,Business Entity Type 1,Secondary / secondary special,Married,House / apartment,N,Y,2,2

In [85]:
hist_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_cliente                  40000 non-null  int64
 1   sexo                        40000 non-null  object
 2   data_nascimento             40000 non-null  object
 3   qtd_filhos                  40000 non-null  int64
 4   qtd_membros_familia         40000 non-null  float64
 5   renda_anual                 40000 non-null  float64
 6   tipo_renda                  40000 non-null  object
 7   ocupacao                    27324 non-null  object
 8   tipo_organizacao            40000 non-null  object
 9   nivel_educacao              40000 non-null  object
 10  estado_civil                40000 non-null  object
 11  tipo_moradia                40000 non-null  object
 12  possui_carro                40000 non-null  object
 13  possui_imovel               40000 non-null  object
 14  nota_regiao_cliente         40000 non-null  int64
 15  nota_regiao_cliente_cidade  40000 non-null  int64
dtypes: float64(2), int64(4), object(10)
memory usage: 4.9+ MB

In [86]:
hist_emprestimos.describe(include='all').fillna('-')

,id_cliente,sexo,data_nascimento,qtd_filhos,qtd_membros_familia,renda_anual,tipo_renda,ocupacao,tipo_organizacao,nivel_educacao,estado_civil,tipo_moradia,possui_carro,possui_imovel,nota_regiao_cliente,nota_regiao_cliente_cidade
count,40000.00,40000,40000,40000.00,40000.00,40000.00,40000,27324,40000,40000,40000,40000,40000,40000,40000.00,40000.00
unique,-,2,14943,-,-,-,8,18,58,5,5,6,2,2,-,-
top,-,F,1967-07-03,-,-,-,Working,Laborers,Business Entity Type 3,Secondary / secondary special,Married,House / apartment,N,Y,-,-
freq,-,26273,12,-,-,-,20502,7083,8840,28513,25726,35671,26375,27686,-,-
mean,278414.66,-,-,0.41,2.15,172853.87,-,-,-,-,-,-,-,-,2.05,2.03
std,102575.20,-,-,0.72,0.90,602510.23,-,-,-,-,-,-,-,-,0.51,0.50
min,100023.00,-,-,0.00,1.00,26100.00,-,-,-,-,-,-,-,-,1.00,1.00
25%,190486.25,-,-,0.00,2.00,112500.00,-,-,-,-,-,-,-,-,2.00,2.00
50%,277796.50,-,-,0.00,2.00,148500.00,-,-,-,-,-,-,-,-,2.00,2.00
75%,367312.25,-,-,1.00,3.00,202500.00,-,-,-,-,-,-,-,-,2.00,2.00
max,456248.00,-,-,14.00,15.00,117000000.00,-,-,-,-,-,-,-,-,3.00,3.00

In [87]:
round((base_cadastral.isnull().sum()/len(base_cadastral)) * 100, 2).map(lambda x: f"{x}%")

id_cliente                      0.0%
sexo                            0.0%
data_nascimento                 0.0%
qtd_filhos                      0.0%
qtd_membros_familia             0.0%
renda_anual                     0.0%
tipo_renda                      0.0%
ocupacao                      31.69%
tipo_organizacao                0.0%
nivel_educacao                  0.0%
estado_civil                    0.0%
tipo_moradia                    0.0%
possui_carro                    0.0%
possui_imovel                   0.0%
nota_regiao_cliente             0.0%
nota_regiao_cliente_cidade      0.0%
dtype: object

### historico emprestimos

In [88]:
hist_emprestimos.head()

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
0,2802425,108129,Cash loans,Approved,2024-08-29,None,2024-09-28,2027-08-14,None,None,...,XNA,Contact center,-1,THURSDAY,11,Y,1,XAP,Unaccompanied,1.00
1,2330894,258628,Cash loans,Approved,2022-10-11,None,2022-11-10,2024-09-30,2024-08-01,2024-08-04,...,XNA,Credit and cash offices,-1,TUESDAY,15,Y,1,XAP,Unaccompanied,1.00
2,1182516,267782,Cash loans,Approved,2023-04-08,None,2023-05-08,2025-09-24,None,None,...,XNA,Credit and cash offices,-1,SATURDAY,4,Y,1,XAP,None,1.00
3,1543131,275707,Cash loans,Approved,2024-02-08,None,2024-03-09,2025-02-02,2025-02-02,2025-02-09,...,XNA,Credit and cash offices,-1,THURSDAY,8,Y,1,XAP,Unaccompanied,1.00
4,2261993,299391,Revolving loans,Canceled,2024-09-06,None,None,None,None,None,...,XNA,Credit and cash offices,-1,FRIDAY,13,Y,1,XAP,None,NaN

In [89]:
hist_emprestimos.info()

# Algumas colunas nulas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186890 entries, 0 to 186889
Data columns (total 37 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_contrato                       186890 non-null  int64
 1   id_cliente                        186890 non-null  int64
 2   tipo_contrato                     186890 non-null  object
 3   status_contrato                   186890 non-null  object
 4   data_decisao                      186890 non-null  object
 5   data_liberacao                    7100 non-null    object
 6   data_primeiro_vencimento          107145 non-null  object
 7   data_ultimo_vencimento_original   101143 non-null  object
 8   data_ultimo_vencimento            87778 non-null   object
 9   data_encerramento                 86087 non-null   object
 10  valor_solicitado                  186890 non-null  float64
 11  valor_credito                     186890 non-null  float64
 12  valor_bem                         143453 non-null  float64
 13  valor_parcela                     145126 non-null  float64
 14  valor_entrada                     86722 non-null   float64
 15  percentual_entrada                86722 non-null   float64
 16  qtd_parcelas_planejadas           145127 non-null  float64
 17  taxa_juros_padrao                 628 non-null     float64
 18  taxa_juros_promocional            628 non-null     float64
 19  tipo_pagamento                    186890 non-null  object
 20  finalidade_emprestimo             186890 non-null  object
 21  tipo_cliente                      186890 non-null  object
 22  faixa_rendimento                  186890 non-null  object
 23  tipo_portfolio                    186890 non-null  object
 24  tipo_produto                      186890 non-null  object
 25  categoria_bem                     186890 non-null  object
 26  combinacao_produto                186858 non-null  object
 27  setor_vendedor                    186890 non-null  object
 28  canal_venda                       186890 non-null  object
 29  area_venda                        186890 non-null  int64
 30  dia_semana_solicitacao            186890 non-null  object
 31  hora_solicitacao                  186890 non-null  int64
 32  flag_ultima_solicitacao_contrato  186890 non-null  object
 33  flag_ultima_solicitacao_dia       186890 non-null  int64
 34  motivo_recusa                     186890 non-null  object
 35  acompanhantes_cliente             94786 non-null   object
 36  flag_seguro_contratado            111691 non-null  float64
dtypes: float64(10), int64(5), object(22)
memory usage: 52.8+ MB

In [90]:
hist_emprestimos.describe(include='all').fillna('-')

,id_contrato,id_cliente,tipo_contrato,status_contrato,data_decisao,data_liberacao,data_primeiro_vencimento,data_ultimo_vencimento_original,data_ultimo_vencimento,data_encerramento,...,setor_vendedor,canal_venda,area_venda,dia_semana_solicitacao,hora_solicitacao,flag_ultima_solicitacao_contrato,flag_ultima_solicitacao_dia,motivo_recusa,acompanhantes_cliente,flag_seguro_contratado
count,186890.00,186890.00,186890,186890,186890,7100,107145,101143,87778,86087,...,186890,186890,186890.00,186890,186890.00,186890,186890.00,186890,94786,111691.00
unique,-,-,4,4,2940,2112,2906,4471,2828,2463,...,11,8,-,7,-,2,-,9,7,-
top,-,-,Cash loans,Approved,2024-06-26,2024-07-06,2024-03-22,2025-02-20,2024-04-18,2024-09-01,...,XNA,Credit and cash offices,-,TUESDAY,-,Y,-,XAP,Unaccompanied,-
freq,-,-,83546,116182,301,19,118,96,90,425,...,95776,80376,-,28459,-,185979,-,151948,56618,-
mean,1925411.15,278440.00,-,-,-,-,-,-,-,-,...,-,-,304.10,-,12.47,-,1.00,-,-,0.33
std,532202.08,102686.99,-,-,-,-,-,-,-,-,...,-,-,1600.38,-,3.33,-,0.06,-,-,0.47
min,1000003.00,100023.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,0.00,-,0.00,-,-,0.00
25%,1465414.25,189807.00,-,-,-,-,-,-,-,-,...,-,-,-1.00,-,10.00,-,1.00,-,-,0.00
50%,1925815.00,278614.50,-,-,-,-,-,-,-,-,...,-,-,3.00,-,12.00,-,1.00,-,-,0.00
75%,2385854.00,367186.00,-,-,-,-,-,-,-,-,...,-,-,84.00,-,15.00,-,1.00,-,-,1.00
max,2845362.00,456248.00,-,-,-,-,-,-,-,-,...,-,-,120000.00,-,23.00,-,1.00,-,-,1.00

In [91]:
round((hist_emprestimos.isnull().sum()/len(hist_emprestimos)) * 100, 2).map(lambda x: f"{x}%")

id_contrato                           0.0%
id_cliente                            0.0%
tipo_contrato                         0.0%
status_contrato                       0.0%
data_decisao                          0.0%
data_liberacao                       96.2%
data_primeiro_vencimento            42.67%
data_ultimo_vencimento_original     45.88%
data_ultimo_vencimento              53.03%
data_encerramento                   53.94%
valor_solicitado                      0.0%
valor_credito                         0.0%
valor_bem                           23.24%
valor_parcela                       22.35%
valor_entrada                        53.6%
percentual_entrada                   53.6%
qtd_parcelas_planejadas             22.35%
taxa_juros_padrao                   99.66%
taxa_juros_promocional              99.66%
tipo_pagamento                        0.0%
finalidade_emprestimo                 0.0%
tipo_cliente                          0.0%
faixa_rendimento                      0.0%
tipo_portfolio                        0.0%
tipo_produto                          0.0%
categoria_bem                         0.0%
combinacao_produto                   0.02%
setor_vendedor                        0.0%
canal_venda                           0.0%
area_venda                            0.0%
dia_semana_solicitacao                0.0%
hora_solicitacao                      0.0%
flag_ultima_solicitacao_contrato      0.0%
flag_ultima_solicitacao_dia           0.0%
motivo_recusa                         0.0%
acompanhantes_cliente               49.28%
flag_seguro_contratado              40.24%
dtype: object

### histórico parcelas

In [92]:
hist_parcelas.head()

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
0,1594684,100193,0.00,56,2021-12-21,2021-12-21,301.86,301.86
1,1995642,134723,1.00,38,2021-08-09,2021-08-04,12949.20,12949.20
2,1720935,176364,1.00,9,2024-03-06,2024-03-04,61192.53,61192.53
3,1439208,154898,1.00,20,2024-08-11,2024-08-07,8851.23,8851.23
4,1640082,172575,1.00,4,2022-11-15,2022-11-10,8720.28,8720.28

In [93]:
hist_parcelas.info()

# data_real_pagamento: nulos
# valor_pago_parcela: nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390978 entries, 0 to 1390977
Data columns (total 8 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id_contrato              1390978 non-null  int64
 1   id_cliente               1390978 non-null  int64
 2   versao_parcela           1390978 non-null  float64
 3   numero_parcela           1390978 non-null  int64
 4   data_prevista_pagamento  1390978 non-null  object
 5   data_real_pagamento      1390639 non-null  object
 6   valor_previsto_parcela   1390978 non-null  float64
 7   valor_pago_parcela       1390639 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 84.9+ MB

In [94]:
hist_parcelas.describe(include='all').fillna('-')

,id_contrato,id_cliente,versao_parcela,numero_parcela,data_prevista_pagamento,data_real_pagamento,valor_previsto_parcela,valor_pago_parcela
count,1390978.00,1390978.00,1390978.00,1390978.00,1390978,1390639,1390978.00,1390639.00
unique,-,-,-,-,2910,2923,-,-
top,-,-,-,-,2024-07-22,2024-10-21,-,-
freq,-,-,-,-,1250,1593,-,-
mean,1908259.12,278845.69,0.93,14.92,-,-,18145.87,18353.37
std,535193.18,102181.63,1.06,20.90,-,-,52183.44,56500.72
min,1000003.00,100023.00,0.00,1.00,-,-,0.00,0.00
25%,1437671.00,191166.00,1.00,4.00,-,-,4677.16,4106.93
50%,1902062.00,279270.00,1.00,8.00,-,-,9300.58,8980.25
75%,2371329.00,367159.00,1.00,15.00,-,-,17902.58,17246.92
max,2843493.00,456248.00,52.00,194.00,-,-,2784334.14,2784334.14

In [95]:
round((hist_parcelas.isnull().sum()/len(hist_parcelas)) * 100, 2).map(lambda x: f"{x}%")

id_contrato                 0.0%
id_cliente                  0.0%
versao_parcela              0.0%
numero_parcela              0.0%
data_prevista_pagamento     0.0%
data_real_pagamento        0.02%
valor_previsto_parcela      0.0%
valor_pago_parcela         0.02%
dtype: object

### base submissão

In [96]:
base_submissao.head()

,id_cliente,data_solicitacao,dia_semana_solicitacao,hora_solicitacao,tipo_contrato,valor_credito,valor_bem,valor_parcela
0,100023,2025-02-24,MONDAY,12,Cash loans,544491.00,454500.00,17563.50
1,100031,2025-02-17,MONDAY,9,Cash loans,979992.00,702000.00,27076.50
2,100056,2025-02-20,THURSDAY,10,Cash loans,1506816.00,1350000.00,49927.50
3,100069,2025-02-10,MONDAY,11,Cash loans,640458.00,517500.00,27265.50
4,100085,2025-02-19,WEDNESDAY,12,Cash loans,755190.00,675000.00,28894.50

In [97]:
base_submissao.info()

# valor_bem: possui nulos
# valor_parcela: possui nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_cliente              40000 non-null  int64
 1   data_solicitacao        40000 non-null  object
 2   dia_semana_solicitacao  40000 non-null  object
 3   hora_solicitacao        40000 non-null  int64
 4   tipo_contrato           40000 non-null  object
 5   valor_credito           40000 non-null  float64
 6   valor_bem               39976 non-null  float64
 7   valor_parcela           39996 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 2.4+ MB

In [98]:
base_submissao.describe(include='all').fillna('-')

,id_cliente,data_solicitacao,dia_semana_solicitacao,hora_solicitacao,tipo_contrato,valor_credito,valor_bem,valor_parcela
count,40000.00,40000,40000,40000.00,40000,40000.00,39976.00,39996.00
unique,-,21,7,-,2,-,-,-
top,-,2025-02-11,TUESDAY,-,Cash loans,-,-,-
freq,-,2448,7231,-,36599,-,-,-
mean,278414.66,-,-,12.03,-,586259.67,526968.20,27376.03
std,102575.20,-,-,3.27,-,395313.88,363020.87,14750.17
min,100023.00,-,-,0.00,-,45000.00,40500.00,2295.00
25%,190486.25,-,-,10.00,-,270000.00,238500.00,16681.50
50%,277796.50,-,-,12.00,-,502497.00,450000.00,25060.50
75%,367312.25,-,-,14.00,-,791861.62,675000.00,34781.62
max,456248.00,-,-,23.00,-,4050000.00,4050000.00,225000.00

In [99]:
round((base_submissao.isnull().sum()/len(base_submissao)) * 100, 2).map(lambda x: f"{x}%")

id_cliente                 0.0%
data_solicitacao           0.0%
dia_semana_solicitacao     0.0%
hora_solicitacao           0.0%
tipo_contrato              0.0%
valor_credito              0.0%
valor_bem                 0.06%
valor_parcela             0.01%
dtype: object

## Preparação dos dados

### Variável target

#### Ajustes dos dados de parcelas

In [100]:
# Converte datas
hist_parcelas['data_prevista_pagamento'] = pd.to_datetime(hist_parcelas['data_prevista_pagamento'], errors='coerce')
hist_parcelas['data_real_pagamento'] = pd.to_datetime(hist_parcelas['data_real_pagamento'], errors='coerce')

# Ajuste da data de pagamento para casos não pagos
data_corte = hist_parcelas['data_prevista_pagamento'].max()
hist_parcelas['data_pagamento_ajustada'] = hist_parcelas['data_real_pagamento'].fillna(data_corte)

# Calcular atraso em dias (somente positivos)
hist_parcelas['atraso_dias'] = (
    hist_parcelas['data_pagamento_ajustada'] -
    hist_parcelas['data_prevista_pagamento']
).dt.days.clip(lower=0)

#### Avaliação de definições de inadimplência

In [101]:
# Primeiras 3 parcelas
parcelas_mob03 = hist_parcelas[
    hist_parcelas['numero_parcela'] <= 3
].copy()

# Flag atraso
parcelas_mob03['flag_atraso_30'] = (
    parcelas_mob03['atraso_dias'] > 30
).astype(int)

# Agregando por contrato
target_ever30 = (
    parcelas_mob03
    .groupby('id_contrato', as_index=False)
    .agg(ever30mob03=('flag_atraso_30', 'max'))
                )

print(f"Distribuição: \n{target_ever30['ever30mob03'].value_counts(normalize=True).map(lambda x: f"{x:.4%}")}")

Distribuição:
ever30mob03
0    99.7598%
1     0.2402%
Name: proportion, dtype: object

A definição EVER30MOB03 foi testada, porém descartada devido à baixa incidência de eventos.

#### Definição da variável target final

In [102]:
# Filtro parcelas até 6 primeiros meses (MOB06)
parcelas_mob06 = hist_parcelas[
    hist_parcelas['numero_parcela'] <= 6
].copy()

# Soma atraso acumulado por contrato
target_over60 = (
    parcelas_mob06
    .groupby('id_contrato', as_index=False)
    .agg(atraso_total_mob06=('atraso_dias', 'sum'))
)

# Flag de inadimplência
target_over60['over60mob06'] = (target_over60['atraso_total_mob06'] > 60).astype(int)

# Distribuição
print(f"Distribuição target: \n{target_over60['over60mob06'].value_counts(normalize=True).map(lambda x: f"{x:.4%}")}")

Distribuição target:
over60mob06
0    98.8736%
1     1.1264%
Name: proportion, dtype: object

A variável target adotada foi a OVER60MOB06, que identifica contratos com mais de 60 dias acumulados de atraso nos seis primeiros meses.

A incidência observada foi de 1,13%, indicando um cenário de eventos raros, consistente com o perfil conservador do produto.

Diante disso, o problema foi tratado como classificação de eventos raros, priorizando a capacidade do modelo de ranquear corretamente contratos de maior risco.

### base cadastral

In [125]:
base_cadastral.head()

,id_cliente,sexo,qtd_filhos,qtd_membros_familia,renda_anual,tipo_renda,ocupacao,tipo_organizacao,nivel_educacao,estado_civil,tipo_moradia,possui_carro,possui_imovel,nota_regiao_cliente,nota_regiao_cliente_cidade,idade,tem_filhos,proporcao_filhos_familia,log_renda_anual,ocupacao_grp
0,100023,F,1,2.00,90000.00,State servant,Core staff,Kindergarten,Higher education,Single / not married,House / apartment,0,1,2,2,32,1,0.50,11.41,Core staff
1,100031,F,0,1.00,112500.00,Working,Cooking staff,Business Entity Type 3,Secondary / secondary special,Widow,House / apartment,0,1,3,2,52,0,0.00,11.63,Cooking staff
2,100056,M,0,2.00,360000.00,Working,Laborers,Transport: type 2,Secondary / secondary special,Married,House / apartment,1,1,2,2,50,0,0.00,12.79,Laborers
3,100069,M,1,2.00,360000.00,Working,Laborers,Transport: type 4,Secondary / secondary special,Separated,House / apartment,1,1,2,2,39,1,0.50,12.79,Laborers
4,100085,M,1,3.00,157500.00,Working,Drivers,Business Entity Type 1,Secondary / secondary special,Married,House / apartment,0,1,2,2,31,1,0.33,11.97,Drivers

In [ ]:
# Criando variável: Idade
base_cadastral['idade'] = (pd.to_datetime('today') - pd.to_datetime(base_cadastral['data_nascimento'])).dt.days // 365
base_cadastral.drop("data_nascimento", axis = 1, inplace=True)

In [ ]:
# Tratando N/A
base_cadastral['ocupacao'] = base_cadastral['ocupacao'].fillna('N/A')
base_cadastral['ocupacao'].value_counts()

ocupacao
N/A                      12676
Laborers                  7083
Sales staff               4190
Core staff                3501
Managers                  2763
Drivers                   2399
High skill tech staff     1532
Accountants               1261
Medicine staff            1086
Security staff             915
Cooking staff              753
Cleaning staff             585
Private service staff      360
Low-skill Laborers         251
Waiters/barmen staff       200
Secretaries                182
Realty agents              104
IT staff                    85
HR staff                    74
Name: count, dtype: int64

In [117]:
base_cadastral['proporcao_filhos_familia'] = (base_cadastral['qtd_filhos'] / base_cadastral['qtd_membros_familia']).replace([np.inf, np.nan], 0)

In [118]:
base_cadastral['log_renda_anual'] = np.log1p(base_cadastral['renda_anual'])

In [ ]:
base_cadastral['possui_carro'] = (base_cadastral['possui_carro'] == 'Y').astype(int)
base_cadastral['possui_imovel'] = (base_cadastral['possui_imovel'] == 'Y').astype(int)
base_cadastral['tem_filhos'] = (base_cadastral['qtd_filhos'] > 0).astype(int)

In [ ]:
cat_cols =  ['ocupacao','tipo_renda']

for col in cat_cols:
    freq = base_cadastral[col].value_counts(normalize=True)
    rare = freq[freq < 0.01].index
    base_cadastral[col] = base_cadastral[col].replace(rare, 'Outros')

In [138]:
freq_organizacao = base_cadastral['tipo_organizacao'].value_counts(normalize=True)
rare_renda = freq_organizacao[freq_organizacao < 0.01].index

base_cadastral['tipo_organizacao_grp'] = base_cadastral['tipo_organizacao'].replace(rare_renda, 'Other')

### historico emprestimos

In [146]:
date_cols = [
    'data_liberacao', 'data_primeiro_vencimento',
    'data_ultimo_vencimento_original', 'data_ultimo_vencimento',
    'data_encerramento'
]

for col in date_cols:
    hist_emprestimos[col] = pd.to_datetime(hist_emprestimos[col], errors='coerce')

In [147]:
num_cols = [
    'valor_bem','valor_parcela','valor_entrada',
    'percentual_entrada','qtd_parcelas_planejadas',
    'taxa_juros_padrao','taxa_juros_promocional'
]

for col in num_cols:
    hist_emprestimos[f'{col}_missing'] = hist_emprestimos[col].isna().astype(int)

hist_emprestimos[num_cols] = hist_emprestimos[num_cols].fillna(0)

In [ ]:
hist_emprestimos['combinacao_produto'] = (hist_emprestimos['combinacao_produto'].fillna('N/A'))

hist_emprestimos['acompanhantes_cliente'] = (hist_emprestimos['acompanhantes_cliente'].fillna('N/A'))

hist_emprestimos['flag_seguro_contratado'] = (hist_emprestimos['flag_seguro_contratado'].fillna('N'))

hist_emprestimos['flag_cronograma_definido'] = (hist_emprestimos['data_primeiro_vencimento'].notna().astype(int))

hist_emprestimos['flag_liberado'] = hist_emprestimos['data_liberacao'].notna().astype(int)

hist_emprestimos['flag_encerrado'] = hist_emprestimos['data_encerramento'].notna().astype(int)

In [192]:
hist_emprestimos['duracao_contrato_dias'] = (hist_emprestimos['data_ultimo_vencimento_original'] - hist_emprestimos['data_primeiro_vencimento']).dt.days
hist_emprestimos['duracao_contrato_dias'] = (hist_emprestimos['duracao_contrato_dias'].fillna(0))

hist_emprestimos['tempo_decisao_liberacao'] = (hist_emprestimos['data_liberacao'] - pd.to_datetime(hist_emprestimos['data_decisao'])).dt.days
hist_emprestimos['tempo_decisao_liberacao'] = (hist_emprestimos['tempo_decisao_liberacao'].fillna(0))

In [193]:
hist_emprestimos['hora_solicitacao_bin'] = pd.cut(
    hist_emprestimos['hora_solicitacao'],
    bins=[0,6,12,18,24],
    labels=['madrugada','manha','tarde','noite'],
    right=False
)

In [194]:
hist_emprestimos['pct_valor_entrada'] = (
    hist_emprestimos['valor_entrada'] /
    hist_emprestimos['valor_credito']
).replace([np.inf, np.nan], 0)

hist_emprestimos['parcela_credito_ratio'] = (
    hist_emprestimos['valor_parcela'] /
    hist_emprestimos['valor_credito']
).replace([np.inf, np.nan], 0)

hist_emprestimos['log_valor_credito'] = np.log1p(hist_emprestimos['valor_credito'])

In [ ]:
cat_cols = [
    'tipo_produto','categoria_bem','finalidade_emprestimo','canal_venda','area_venda'
]

for col in cat_cols:
    freq = hist_emprestimos[col].value_counts(normalize=True)
    rare = freq[freq < 0.01].index
    hist_emprestimos[col] = hist_emprestimos[col].replace(rare, 'Outros')

In [201]:
hist_emprestimos['canal_venda'].value_counts()

canal_venda
Credit and cash offices    80376
Country-wide               55117
Stone                      23830
Regional / Local           12254
Contact center              7957
AP+ (Cash loan)             6609
Outros                       747
Name: count, dtype: int64